nav {
	.bd-placeholder-img {
		font-size: 1.125rem;
		text-anchor: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
	}

	.b-example-divider {
		height: 3rem;
		background-color: rgba(0, 0, 0, 0.1);
		border: solid rgba(0, 0, 0, 0.15);
		border-width: 1px 0;
		box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
			inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
	}

	.b-example-vr {
		flex-shrink: 0;
		width: 1.5rem;
		height: 100vh;
	}

	.bi {
		vertical-align: -0.125em;
		fill: currentColor;
	}

	.nav-scroller {
		position: relative;
		z-index: 2;
		height: 2.75rem;
		overflow-y: hidden;
	}

	.nav-scroller .nav {
		display: flex;
		flex-wrap: nowrap;
		padding-bottom: 1rem;
		margin-top: -1px;
		overflow-x: auto;
		text-align: center;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;
	}
	body {
		padding-bottom: 20px;
	}
	.navbar {
	}
	@media (min-width: 768px) {
		.bd-placeholder-img-lg {
			font-size: 3.5rem;
		}
	}
	.navbar-brand {
		margin-left: 60px;
		margin-top: 50px;
		float: left;
		position: relative;
	}
	.nav-link-box {
		margin-top: 50px;
		margin-right: 0;
		font-size: 14px;
		right: 0;
		position: fixed;
		display: flex;
		justify-content: end;
		float: right;
	}

	.nav-collapse-button {
		position: fixed;
		right: 0;
		margin-right: 60px;
		margin-top: 10px;
	}
	.navbar-nav {
		a {
			&:hover {
				outline: 0;
			}
		}
	}
	@media (max-width: 1086px) and (min-width: 989px) {
		.login-btn {
			margin-right: 1.5rem !important;
		}
		#contact_link {
			display: none;
		}
	}
	@media (max-width: 988px) {
		.navbar-nav {
			margin-top: 5rem;
		}
		.navbar-toggler {
			z-index: 30;
			margin-top: 0 !important;
			top: 50px;
		}
		.navbar-collapse {
			position: absolute;
			background-color: rgba(0, 0, 0, 0.8);
			width: 100%;
			top: -70px;
			padding-bottom: 3rem;

			li {
			}
		}
		.login-btn {
			margin-right: 0 !important;
		}
	}
	.navbar-brand {
		&:hover {
			cursor: pointer;
			opacity: 0.8;
		}
		z-index: 30;
	}
	.nav-link-text {
		&:hover {
			color: #535252 !important;
		}
		font-size: 18px;
		position: relative;
		display: inline-block;
		color: #222222;
		padding: 20px;
		text-align: left;
		margin-left: auto;
		margin-right: auto;
	}
	.login-btn {
		margin-right: 60px;
		&:hover {
			background-color: #222222;
		}
	}
}
.nav-box {
	position: absolute;
	margin-bottom: 20px;
	z-index: 10;
	background-color: transparent !important;
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	z-index: 9999;
	padding-top: 0px;
	padding-bottom: 7px;
	background-color: #fff;
}
.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
@media (max-width: 425px) {
	.navbar-brand {
		margin-left: 10px !important;
		margin-top: 50px;
		float: left;
		position: relative;
	}
}
