//Pages
@import url('./styling/pages/main.scss');

//Components
@import url('./styling/components/footer.scss');
@import url('./styling/components/nav.scss');
@import url('./styling/components/heroes.scss');

//Public
@import url('./styling/themes.scss');
@import url('./styling/components/yoink.scss');

//
html {
	scroll-behavior: smooth;
}
body {
	background-color: #262626;
	color: white;
	font-family: 'Montserrat', sans-serif;
}
